.country-details-container {
  max-width: 1200px;
  margin-inline: auto;
  margin-top: 32px;
}

.back-button {
  padding: 6px 24px;
  -webkit-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

main {
  min-height: 100%;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  min-width: 100%;
  min-height: 100%;
}

.country-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 64px;
  margin-top: 64px;
}

.country-details img {
  width: 40%;
  border: 1px solid #ddd;
}

.details-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 12px;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  max-height: 180px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details-text p {
  margin: 0;
}

.border-countries {
  margin-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

.border-countries a {
  padding: 4px 16px;
  -webkit-box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 14px;
}

@media (max-width: 940px) {
  .country-details {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 32px;
    gap: 16px;
  }
  .details-text {
    max-height: unset;
  }
  .country-details img {
    width: 100%;
    max-width: 400px;
  }
}